<!-- wp:html -->
<div class="WP_DEBUG">archive.html</div>
<!-- /wp:html -->

<!-- wp:query {"queryId":1,"query":{"perPage":1,"pages":0,"offset":0,"postType":"bigram","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"type":"list"}} -->
<!-- wp:query-loop -->
<!-- wp:post-featured-image /-->

<!-- wp:post-date /-->

<!-- wp:post-title {"isLink":true} /-->
<!-- /wp:query-loop -->
<!-- /wp:query -->

<!-- wp:query {"queryId":3,"query":{"perPage":8,"pages":0,"offset":0,"postType":"bigram","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"type":"flex","columns":4}} -->
<!-- wp:query-loop -->
<!-- wp:post-featured-image /-->

<!-- wp:post-title /-->
<!-- /wp:query-loop -->
<!-- /wp:query -->

<!-- wp:query {"queryId":5,"query":{"perPage":60,"pages":0,"offset":16,"postType":"bigram","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<!-- wp:query-loop -->
<!-- wp:post-title {"level":4,"style":{"typography":{"lineHeight":1.4}},"fontSize":"small"} /-->
<!-- /wp:query-loop -->
<!-- /wp:query -->